**/*.ts
**/tsconfig.json
!file.ts
.vscode/**
.vscode-test/**
src/**
node_modules/**
**/*.ts
**/*.map
.gitignore
.git/**
bun.lock
package-lock.json
yarn.lock
biome.json
*.log
**/*.vsix
.DS_Store
Thumbs.db
tsconfig.json
jsconfig.json